body {
  color: #333333;
  margin: 0 auto;
  font-family: sans-serif;
  background-color: beige;
  margin: 0;
  padding: 0;
}

header {
  width: auto;
  max-height: 300px;
}

.big {
  font-size: 40px;
  color: #111111;
}
header.recipe {
  margin: 0;
  padding: 0;
  background-image: url("../resources/splash.jpg");
  height: 220px;
  position: relative;
  object-fit: cover;
}
header div {
  background-color: rgba(245, 245, 220, 0.511);
  height: 100%;
}

h1,
h3 {
  padding: 30px;
  font-size: large;
  margin: 10px;
}

.center {
  text-align: center;
}

h3 span {
  font-size: larger;
  color: #111111;
}

h3 a:hover {
  background-color: #333333;
  color: beige;
}

hr {
  margin: 0 10%;
  color: #333333;
}

a {
  text-decoration: none;
  color: #333333;
}
ul.center {
  width: 90%;
  min-height: 90%;
  margin: 0 auto;
  padding: 0 auto;
}

li.recipe-item {
  display: block;
  float: left;
  padding: 4.5%;
  max-width: 25%;
}

img {
  border-radius: 15px;
  box-shadow: 20px -5px 30px #888888;
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.recipe-image {
  display: block;
  float: left;
  max-width: 300px;
  height: 150px;
  max-height: 200px;
  padding: 30px;
  padding-left: 100px;
}

.info {
  display: block;
  float: right;
  padding: 20px 120px;
  padding-left: 10px;
}

.bold {
  font-weight: 600;
}

.space {
  height: 35px;
}

.ingredients {
  padding: 60px 500px;
}

article {
  margin: 0 auto;
  text-align:justify;
  padding: 10px 180px;
  padding-bottom: 30px;
}

article li {
  font-size: large;
}